
/* main rules **********************************************************/

@font-face{
	font-family: MyriadPro;
	src: url(../font/MyriadPro-Regular.ttf), 
	url(../font/MyriadPro-Regular.eot),
	url(../font/MyriadPro-Regular.woff);
}
a{
	text-decoration: none;
}
li{
	list-style: none;
  	display: flex;
}
button{
	cursor: pointer;
}
button, 
button:active, 
button:focus {
    outline: none;
}
.flex{
	display: flex;
}
.flex-ai-stretch{
	align-items: stretch;
}
.flex-row-wrap{
	display: flex;
	flex-flow: row wrap;
}
.flex-jc-center{
	justify-content: center;
}
.flex-jc-sa{
	justify-content: space-around;
}
.flex-jc-sb{
	justify-content: space-between;
}
.flex-ai-center{
	align-items: center;
}
.flex-ac-center{
	align-content: center;
}
.flex-flow-col{
	flex-flow: column;
}
.margin-auto{
	margin: 0 auto;
}
*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	background: #efefef;
	font-family: MyriadPro;
}
.container{
	width: 90%;
	margin: 0 auto;	
}

/* header **************************************************************/
header{
	width: 100%;
}
.slider-container{
	/*width: 100%;*/
	padding-top : 40px;
	padding-bottom: 40px;
}

.slider-container button{
	border: none;
	background-color: #efefef;
	font-size:30px;
	transition: color .5s;
}
.slider-container button:hover{
	color: #6c6ac1;
}
header p{
	padding-left: 35px;
	padding-right: 35px;
	font-size: 40px;
	width: 280px;
	text-align: center;
}

/* medium **************************************************************/

.medium-container{
	width: 100%;
	padding-bottom: 20px;
	flex-flow: row wrap;
}
.location{
	margin-right: 10px;
	margin-bottom: 10px;
}
.location input{
	width: 300px;	
	font-size: 25px;
}
	
table{
	border-collapse:collapse;
	font-size: 20px;
}
td{
	border: 2px solid #9e9e9e;
	height: 50px;
	width: 50px;
	box-sizing: border-box;-box;
}
tr{
	position: relative;
}
table a{
	padding: 5px 50px 5px 10px ;
	box-sizing: border-box;
	display: block;
	height: 100%;
	width: 100%;
	color:#000;
	transition: background-color .5s, color .5s;

}
table a:hover{
	background-color: #00897b;
	color: #fff;
}
.check{
	position: relative;
}
table img{
	position: absolute;
	width: 50px;
	top: 10px;
	right: 0px;
}
.weekday td{
	padding-top: 10px;
	/*padding-bottom: 10px;*/
	padding-left: 10px;
	padding-right: 20px;
	vertical-align: top;
	padding-bottom: 30px;
}
.today-month{
	background-color:#ea9999;
}
.another-month{
	background-color: #d9d9d9;
}

/* footer ****************************************************************/

footer{
	width: 90%;
	margin: 0 auto;
	border: 1px solid #000;
	font-size:25px;
}
footer h3{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 40px;
	font-weight: 100;
}
footer ul{
	border: 1px solid #9e9e9e;
	margin: 0 auto 10px auto;
	width: 90%;
}
footer li{
	
}
footer li:not(:last-child){
	border-bottom: 1px solid #9e9e9e;
}
footer .number{
	border-right: 1px solid #9e9e9e;
	padding-right: 10px;
	padding-left: 5px;
	width: 6.35vw;/*7%*/
	line-height: 100%;
}
footer p{
	width: 74.16vW;/*83%*/
	border-right: 1px solid #9e9e9e;
	padding-left: 10px;
	line-height: 100%;
}
footer button{
	border: 1px solid #000;
	background-color: #efefef;
	font-size:25px;
	padding: 5px 30px 5px 10px;
}
#delete_Button{
	box-sizing: content-box;
	width: 10.831vw;
	border: none;
}
.organizer-footer{
	width:90%;
	margin: 0 auto;
	padding-bottom: 10px;
}
.organizer-footer button{
	border-radius: 10px;
}
#task_Input{
	font-size:25px;
	line-height: 35px;
	width: 40vw;
}
#add_Task_Button{
	margin-left: 10px;
	margin-right: 10px;
	transition: background-color .5s;
}
#add_Task_Button:hover{
	background-color: #ea9999;
}
#reset_Button{
	margin-right: 10px;
	transition: background-color .5s;
}
#reset_Button:hover{
	background-color: #a1ea99;
}
#save_Button{
	transition: background-color .5s;
}
#save_Button:hover{
	background-color: #cfe2f3;
}


@media screen and (max-width: 830px){

	footer button {
    padding: 5px 15px 5px 10px;
	}
	#reset_Button {
    margin-right: 5px;
	}
	#add_Task_Button {
    margin-left: 5px;
    margin-right: 5px;
	}
}
@media screen and (max-width: 684px){
	footer {
    font-size: 20px;
	}
	#task_Input{
	font-size:20px;
	line-height: 30px;
	}
	footer button {
    	font-size: 20px;
	}
}
@media screen and (max-width: 602px){
	header p {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 35px;
    width: 245px;
	}
	.slider-container {
    padding-top: 20px;
    padding-bottom: 20px;
	}
	table {
    font-size: 16px;
	}
	table a {
    padding: 5px 35px 5px 10px;
	}
	.weekday td {
    padding-right: 10px;
    padding-bottom: 25px;
	}
}
@media screen and (max-width: 569px){
	footer h3 {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 100;
	}
	#task_Input {
    font-size: 16px;
    line-height: 25px;
	}
	footer button {
    font-size: 16px;
    padding: 5px 10px 5px 5px;
	}
}
@media screen and (max-width: 448px){
	table a {
    padding: 5px 25px 5px 8px;
	}
	#add_Task_Button {
    margin-right: 1px;
	}
	#reset_Button {
    margin-right: 1px;
	}
	footer button {
    font-size: 16px;
    padding: 5px 5px 5px 5px;
	}
}